.card{
    border: 1px solid #000;
    &-img-top{
        border-bottom: 1px solid #000;
        background-color: rgb(177, 177, 172);
    }
    &:hover{
        border: 1px solid rgb(243, 8, 212);
    }
 }